<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>

<style>
    .text-white {
        color: white;
    }
</style>

<body style="background-color:black">

    <!-- Navigation Bar -->
    <nav class="navbar" style="background-color:#00a65a">
        <a class="navbar-brand">My Book recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>

    <!-- Main Container -->
    <div class="container">
        <div class="row">

            <!-- Page Heading -->
            <div class="col-md-12">
                <h1 class="text-white" style="font-size:50px">Recommend Books</h1>

                <!-- Form to take book name from user -->
                <form action="/recommend_books" method="post">

                    <!-- User Input Textbox -->
                    <input name="user_input" type="text" 
                           class="form-control"><br>

                    <!-- Submit Button -->
                    <input type="submit" class="btn btn-lg btn-warning">
                </form>
            </div>

            <!-- Display recommendation only if data is available -->
            {% if data %}

                {% for i in data %}
                    <div class="col-md-3" style="margin-top:50px">
                        <div class="card">
                            <div class="card-body">

                                <!-- Book Image -->
                                <img class="card-img-top" src="{{ i[2] }}">

                                <!-- Book Name -->
                                <p class="text-white">{{ i[0] }}</p>

                                <!-- Author Name -->
                                <h4 class="text-white">{{ i[1] }}</h4>

                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

        </div>
    </div>

</body>
</html>
